.sixth-line-container{
    display: grid;
    grid-template-columns: initial;
    grid-template-rows:  auto ;
    grid-template-areas: 
    "how-it-works";
}
.How-it-works-container{
    grid-area: how-it-works;
}
.our-process-container{
    display: none;
}
.make-appointment-container{
    display: none;
 
}
@media(min-width:1030px){
    .sixth-line-container{
        grid-template-rows:  auto  auto auto;
        grid-template-areas: 
        "how-it-works"
        "our-process"
        "make-appointment";
    

    }
    .make-appointment-container, .our-process-container{
        display: initial;
    }
}
